<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title">GENERAR CODIGO</h4> -->
        <div class="card">
            <div class="card-body">
              <div class="table-responsive table-dark table-striped">
                <!-- <h5 style="text-align: start; margin-top: 10px;" *ngIf="productosFiltrados.length == 0">Cargando server de Products....</h5> -->
                <table
                  id="producto-tableGCB"
                  datatable
                  [dtOptions]="dtOptionsGCB"
                  class="row-border hover"
                ></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

