
* {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f3;
}

.custom-form {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin:auto;
  border-radius: 2.5rem;
  background-color: #eeeeee;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 10rem;
}

.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #fafbfc;
}

.custom-form button {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #eeeeee;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 10rem;
  text-align: right;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('/assets/img/login.jpg');
  /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ubicación de tu imagen */
  background-size: cover;
  /* Escala la imagen para que cubra todo el fondo */
  background-repeat: no-repeat;
  /* Evita que la imagen de fondo se repita */
  background-attachment: fixed;
  /* Mantiene la imagen de fondo fija mientras se desplaza la página */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #414042;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  color: #fff;
  text-decoration-color: #fff;
  font-family: "BarlowSemiCondensed";
}

.subTitle {
  margin-top: -10px;
  text-align: center;
  font-weight: 800 !important;
  font-size: 22px;
  font-family: "Poppins ExtraBold";
}

.subTitle span {
  color: #E7272C;
}

.textParagraph {
  font-size: 14px;
  text-align: center;
  padding: 0 28px;
  line-height: 1.2;
  font-family: "BarlowSemiCondensed Regular";
}

.msgFooter {
  font-family: "BarlowSemiCondensed Regular";
  font-size: 12px;
  color: #d1d3d4;
  box-sizing: border-box;
}

.btnLogin {
  color: white;
  background: #e7272c;
  border: none;
  border-radius: 5px;
  padding: 4px 0;
  box-shadow: none;
  margin-bottom: 10px;
  text-shadow: none;
  outline: none;
  font-weight: 800;
  font-size: 12px;
  width: 75% !important;
  text-transform: uppercase;
  font-family: "BarlowSemiCondensed Bold";
}


.labelsForm {
  color: #FFF;
  font-size: 8px;
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-top: 0px;
  font-family: "BarlowSemiCondensed Regular";
  font-size: 14px;
}


